<div class="card border m-1 border-dark" id="<%= dom_ref(product_item, :show) %>">
  <div class="card-header" id="<%= dom_ref(product_item, :header) %>">
    <%#= product_item.item_name %>
    <%= render 'product_items/edit', product_item: @product_item %>
  </div>

  <div class="card-body p-1" id="<%= dom_ref(product_item, :body) %>">
    <div id='<%= dom_ref(product_item, :index) %>'>
      <%#= render "elements/index", element: element %>
    </div>
  </div>
</div>
