<%= form_with model: artist, id: 'artist-edit' do |f| %>
  <div id="<%= dom_tag(artist, :form, :fields) %>">
    <div class="form">
      <div class="card bg-gray-d border-0 mb-2">
        
        <div class="form-row align-items-center p-1">

          <div class="col-6 ml-0">
            <div class="input-group input-group-sm">
              <label class="fs-xs font-weight-light text-secondary pt-2 px-1 kind-label">artist</label>
              <%= f.text_field :artist_name, class: "form-control form-control-sm field-param"%>
            </div>
          </div>

          <% artist_form_row(%w[yob yod]).each do |field| %>
            <%= f.fields_for :tags, OpenStruct.new(artist.tags) do |ff| %>
              <div class="<%= "#{field['col']} ml-0" %>">
                <div class="input-group input-group-sm">
                  <label class="fs-xs font-weight-light text-secondary pt-2 px-1 kind-label"><%= field['label'] %></label>
                  <%= ff.text_field field['name'], class: "form-control form-control-sm field-param", id: field['name'] %>
                </div>
              </div>
            <% end %>
          <% end %>

          <div class="col-2 ml-0">
            <div class="input-group input-group-sm">
              <label class="fs-xs font-weight-light text-secondary pt-2 px-1 kind-label">id</label>
              <%= f.number_field :artist_id, class: "form-control form-control-sm field-param" %>
            </div>
          </div>
        </div>

        <div class="form-row align-items-center p-1">
          <% artist_form_row(%w[title body]).each do |field| %>
            <%= f.fields_for :tags, OpenStruct.new(artist.tags) do |ff| %>
              <div class="<%= "#{field['col']} ml-0 mb-2" %>">
                <div class="input-group input-group-sm">
                  <label class="fs-xs font-weight-light text-secondary pt-2 px-1 kind-label"><%= field['label'] %></label>
                  <%= ff.text_field field['name'], class: "form-control form-control-sm field-param", id: field['name'] %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>
