<nav class="navbar navbar-expand-sm navbar-light bg-disabled">
  <a class="navbar-brand">Invoice: <span id="invoice-number"><%= invoice.invoice_number %></span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#invoice-nav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse form-toggle" id="invoice-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#edit-invoice-toggle">Edit Invoice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link new-skus" data-toggle="collapse" href="#new-skus-toggle">Add Skus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#destroy-skus-toggle">Delete Skus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#export-skus-toggle">Export Skus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#artist-toggle">Add Artist</a>
      </li>
    </ul>

  </div>
  <!-- <a class="badge badge-danger form-control-sm" href="<%#= supplier_invoice_path(invoice) %>" data-method="delete" data-remote="true" data-confirm="Are you sure?">Delete</a> -->
  <%= link_to invoice.supplier.supplier_name, invoice.supplier, class: 'badge badge-primary mr-2' %>
  <%= link_to 'item-search', new_invoice_search_item_path(invoice), class: 'badge badge-primary mr-2' %>
  <%= link_to "delete", [invoice.supplier, invoice], method: :delete, class: 'badge badge-danger form-control-sm', data: { confirm: 'Are you sure?' } %>
</nav>

<div class="pos-f-t">
  <div class="collapse" id="edit-invoice-toggle" data-parent="#invoice-navbar-forms">
    <hr>
    <%= render 'invoices/edit', invoice: @invoice %>
  </div>
</div>

<div class="pos-f-t">
  <div class="collapse" id="new-skus-toggle" data-parent="#invoice-navbar-forms">
    <hr>
    <%= render 'skus/search', invoice: @invoice, results: @results, inputs: @inputs %>
    <%= render 'skus/form', invoice: @invoice, titles: [] %>
    <%= render 'skus/new', invoice: @invoice %>
  </div>
</div>

<div class="pos-f-t">
  <div class="collapse" id="destroy-skus-toggle" data-parent="#invoice-navbar-forms">
    <hr>
    <%= render 'skus/destroy', invoice: @invoice %>
  </div>
</div>

<div class="pos-f-t">
  <div class="collapse" id="export-skus-toggle" data-parent="#invoice-navbar-forms">
    <hr>
    <%= render 'export_skus/form', invoice: @invoice %>
  </div>
</div>

<div class="pos-f-t">
  <div class="collapse" id="artist-toggle" data-parent="#invoice-navbar-forms">
    <hr>
    <%= render 'artists/form' %>
  </div>
</div>
