<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand"><%= invoice.invoice_number %></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#edit-invoice-toggle">Edit Invoice Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#new-skus-toggle">Add Sku Range</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#destroy-skus">Delete Sku Range</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#export-skus">Export Sku Range</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= supplier_invoice_path(invoice) %>" data-method="delete" data-remote="true" data-confirm="Are you sure?">Delete Invoice</a>
      </li>
    </ul>
  </div>

</nav>

<div class="pos-f-t">
  <div class="collapse" id="edit-invoice-toggle" data-parent="#invoice">
    <%= render 'invoices/edit', invoice: @invoice %>
  </div>
</div>

<div class="pos-f-t">
  <div class="collapse" id="new-skus-toggle" data-parent="#invoice">
    <%= render 'skus/search', invoice: @invoice, results: @results, inputs: @inputs %>
    <%= render 'skus/form', invoice: @invoice %>
  </div>
</div>

<div class="pos-f-t">
  <%= render 'skus/destroy', invoice: @invoice %>
</div>

<div class="pos-f-t">
  <%= render 'export_skus/form', invoice: @invoice %>
</div>
