<h1><%= @invoice.supplier.supplier_name %>: <%= link_to  @invoice.invoice_number, url_for(:back) %></h1>

<div id="search-form">
  <%= render 'search_items/form', invoice: @invoice, hattrs: @items['hattrs'], scope: @items['scope'], attrs: @items['attrs'] %>
</div>

<%= render 'search_items/sku_form', invoice: @invoice %>

<div id="search-table">
  <%= render 'search_items/index', items: @items['search_results'] %>
</div>
