<%= form_with model: Item.new, url: invoice_skus_path(invoice), id: "new-skus" do |f| %>
  <div class="form">
    <div class="card bg-gray-d p-0 mb-1">
      <div class="card-header bg-transparent pt-0 pb-1 pl-0 pr-0">
        <div class="form-row mb-1">

          <div class="col-4 pt-2">
            <div class="input-group input-group-sm">
              <%= render "item_fields/caret", card_id: 'skus', target: '#new-skus-body', body: true, i: 0, context: 'header' %>
              <%= render "item_fields/label", label: 'skus' %>
              <%= f.text_field :skus, placeholder: "enter sku range", class: boot_classes(:input, 'required') %>
            </div>
          </div>

          <div class="col-md-1 offset-md-7 pt-2">
            <button class="<%= boot_classes(:submit, 'badge-primary') %>" type="submit" disabled>create</button>
          </div>
        </div>
      </div>

      <div class="card-body pt-1 pb-1 pl-0 pr-0 bg-gray-d border border-white border-top-0 rounded-bottom default-collapse collapse" id="new-skus-body" data-parent="#new-skus">

        <div class="form-row pt-2 pb-2">
          <div class="col-4 ml-0">
            <div class="input-group input-group-sm">
              <%= render "item_fields/caret", card_id: 'artist', target: nil, body: true, i: 0, context: 'body' %>
              <%= render "item_fields/label", label: 'artist' %>
              <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, {include_blank: true}, class: boot_classes(:input, 'artist', 'artist_id'), id: "artist_id" %>
            </div>
          </div>

          <div class="col-6 ml-0">
            <div class="input-group input-group-sm">
              <%= render "item_fields/label", label: 'product' %>
              <%= f.collection_select :product_id, Product.all, :id, :product_name, {include_blank: true}, class: boot_classes(:input, 'product', 'product_id'), id: "product_id" %>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-4 ml-0">
            <div class="input-group input-group-sm title-group" data-input=".title-text" data-target=".title-toggle">
              <%= render "item_fields/caret", card_id: 'title', target: nil, body: true, i: 0, context: 'body' %>
              <%= render 'items/title_toggle' %>
              <%= render 'items/title', titles: titles %>
              <%= f.text_field :title, class: boot_classes(:input, 'show', 'title', 'title-toggle', 'title-text'), id: 'title-text' %>
            </div>
          </div>

          <div class="col-2 ml-0">
            <div class="input-group input-group-sm">
              <%= render "item_fields/label", label: 'retail' %>
              <%= f.number_field :retail, class: boot_classes(:input) %>
            </div>
          </div>

          <div class="col-2">
            <div class="input-group input-group-sm">
              <%= render "item_fields/label", label: 'qty' %>
              <%= f.number_field :qty, class: boot_classes(:input) %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
