<%= form_with model: Item.new, url: search_invoice_skus_path(invoice), method: :get, id: "search-skus" do |f| %>

  <div class="form">
    <div class="card bg-gray-d p-1 mb-1">
      <div class="form-row mb-2">
        <% inputs['hattrs'].each do |input| %>
          <div class="col-3 ml-0">
            <div class="input-group input-group-sm">
              <%= render 'item_products/forms/search_group', scope: 'hattrs', input_name: input['input_name'], opts: input['opts'], selected: input['selected'] %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="form-row">
        <div class="col-3 ml-0">
          <div class="input-group input-group-sm" data-obj="searchForm, #search-skus, titleForm, #new-title, artistInput, .artist, itemForm, #new-skus, titleInput, .title, context_input, .context">
            <%= render 'item_products/forms/search_label', input_name: 'artist' %>
            <%= render 'item_products/forms/reset_search', class_param: 'new-item-unselect-artist' %>
            <!--selected: inputs['artist']['selected']-->
            <!--selected: inputs['artist']['opts']-->
            <%#= f.collection_select :artist_id, Artist.all, :id, :artist_name, {include_blank: true, selected: inputs['artist']}, id: "artist-search", class: boot_classes(:search_input, 'search', 'new', 'item', 'artist') %>
            <%= f.collection_select :artist_id, inputs['artist']['opts'], :id, :artist_name, {include_blank: true, selected: inputs['artist']['selected']}, id: "artist-search", class: boot_classes(:search_input, 'search', 'new', 'item', 'artist') %>
          </div>
        </div>

        <div class="col-6 ml-0">
          <div class="input-group input-group-sm" data-obj="searchForm, #search-skus, productInput, .product, itemForm, #new-skus">
            <%= render 'item_products/forms/search_label', input_name: 'product' %>
            <%= render 'item_products/forms/reset_search', class_param: 'new-item-unselect-product' %>
            <!--selected: inputs['product']['selected']-->
            <!--selected: inputs['product']['opts']-->
            <%= f.collection_select :product_id, inputs['product']['opts'], :id, :product_name, {include_blank: true, selected: inputs['product']['selected']}, id: "product-search", class: boot_classes(:search_input, 'product', 'new-item-select-product') %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
