<% field_item.to_class.assoc_names.each do |assoc| %>
  <%= f.fields_for assoc.to_sym do |ff| %>
    <div class="col-12 collapse toggle-field" id="<%= dom_ref(field_item, assoc.to_sym, :add) %>">
      <%= render "field_items/select_field", field_item: field_item, f: ff, assoc: assoc %>
    </div>

    <div class="col-12 collapse toggle-field" id="<%= dom_ref(field_item, assoc.to_sym, :new) %>">
      <%= render "field_items/text_field", f: ff, assoc: assoc %>
    </div>
  <% end %>
<% end %>
