<nav class="navbar navbar-expand-sm navbar-dark bg-purple p-0 mb-2">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#item-nav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse form-toggle" id="item-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link fs-s" data-toggle="collapse" href="#description-toggle">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-s active" data-toggle="collapse" href="#edit-item-toggle">Edit Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-s" data-toggle="collapse" href="#edit-sku-toggle">Edit Sku</a>
      </li>
    </ul>
  </div>
</nav>

<div class="pos-f-t">
  <div class="collapse" id="description-toggle" data-parent="#<%= dom_ref(item, 'navbar-forms') %>">
    <%= render 'items/description', item: item %>
  </div>
</div>

<div class="pos-f-t">
  <div class="show collapse" id="edit-item-toggle" data-parent="#<%= dom_ref(item, 'navbar-forms') %>">
    <%= render "item_products/forms/search", item: item, inputs: inputs, products: products %>
    <hr>
    <%= render "items/edit", invoice: invoice, item: item, titles: titles %>
    <%= render "item_fields/edit", item: item, rows: rows %>
  </div>
</div>

<div class="pos-f-t">
  <div class="collapse" id="edit-sku-toggle" data-parent="#<%= dom_ref(item, 'navbar-forms') %>">
    <hr>
    <%= render 'skus/edit', invoice: invoice, item: item %>
  </div>
</div>
