<nav class="navbar navbar-expand-sm navbar-light bg-disabled border-0 p-0 m-0">
  <div class="btn-group btn-group-sm p-0 m-0" role="group">
    <button id="<%= item.id %>" class="<%= boot_classes(:btn_nav, 'btn-outline-secondary', 'py-0', 'px-1', 'm-1') %>" type="button" data-target="#<%= dom_ref('nav-toggle', item) %>" data-submit="#<%= dom_ref('submit', item) %>">
      <span class=""><%= (fa_icon "toggle-off") %></span>
    </button>
    <a href="<%= invoice_item_path(item.invoice, item) %>" data-remote="true" class="collapse" id="<%= dom_ref('submit', item) %>" type="button"></a>

    <div class="item-nav nav-toggle m-0 mr-1 collapse" id="<%= dom_ref('nav-toggle', item) %>" data-parent="#item-table">
      <button type="button" class="btn btn-sm btn-outline-secondary squared-right-border squared-left-border py-0 px-1 mx-0 my-1 nav-btn disable dynamic" data-toggle="collapse" data-target="#description-toggle" disabled><span class="fs-s">text</span></button>
      <button type="button" class="btn btn-sm btn-outline-secondary py-0 px-1 mx-0 my-1 squared-right-border squared-left-border nav-btn disable dynamic" data-toggle="collapse" data-target="#edit-item-toggle" disabled><span class="fs-s">edit</span></button>
      <button type="button" class="btn btn-sm btn-outline-secondary py-0 px-1 mx-0 my-1 squared-right-border squared-left-border nav-btn disable dynamic" data-toggle="collapse" data-target="#dup-item-toggle" disabled><span class="fs-s">dup</span></button>
      <button type="button" class="btn btn-sm btn-outline-secondary py-0 px-1 mx-0 my-1 squared-right-border squared-left-border nav-btn disable dynamic" data-toggle="collapse" data-target="#edit-sku-toggle" disabled><span class="fs-s">sku</span></button>
    </div>
  </div>
  <%= link_to (fa_icon "times"), [item.invoice, item], method: :delete, class: 'btn btn-sm btn-outline-secondary py-0 px-1 m-0 squared-left-border', remote: true, data: { confirm: 'Are you sure?' } %>
</nav>
