<div class="collapse" id="description-toggle" data-parent="#<%= dom_ref('navbar-forms', item) %>">
  <%= render 'items/description', item: item %>
</div>

<div class="collapse" id="edit-item-toggle" data-parent="#<%= dom_ref('navbar-forms', item) %>">
  <!--inputs['hattrs']  inputs['products']['opts']-->
  <%= render "item_products/forms/search", item: item, inputs: inputs %>
  <%= render "items/edit", invoice: invoice, item: item, titles: titles %>
  <%= render "item_fields/edit", item: item, rows: rows %>
</div>

<div class="collapse" id="edit-sku-toggle" data-parent="#<%= dom_ref('navbar-forms', item) %>">
  <%= render 'skus/edit', invoice: invoice, item: item %>
</div>
