<%= form_with model: item, url: invoice_item_path(invoice, item), id: "edit-item" do |f| %>
  <div class="form-inline">
    <%= number_field_tag "item[product_id]", @item.product.try(:id), class: "collapse" %>

    <div class="col-2 border-light-gray p-1">
      <div class="input-group input-group-sm">
        <label class="fs-xs font-weight-light text-secondary"><span class="kind-label">sku:</span></label>
        <%= f.number_field :sku, placeholder: "sku", class: "form-control border-gray-b field-param" %>
      </div>
    </div>

    <div class="col-3 border-light-gray p-1">
      <div class="input-group input-group-sm">
        <label class="fs-xs font-weight-light text-secondary pr-1">artist:</label>
        <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, {include_blank: true, selected: item.artist.try(:id)}, class: "form-control border-gray-b field-param" %>
      </div>
    </div>

    <div class="col-4 border-light-gray p-1">
      <div class="input-group input-group-sm">
        <label class="fs-xs font-weight-light text-secondary pr-1">title:</label>
        <%= f.text_field :title, placeholder: "title", class: "form-control border-gray-b field-param" %>
      </div>
    </div>

    <div class="col-2 border-light-gray p-1">
      <div class="input-group input-group-sm">
        <label class="fs-xs font-weight-light text-secondary pr-1">$</label>
        <%= f.number_field :retail, placeholder: "retail", class: "form-control border-gray-b field-param" %>
      </div>
    </div>

    <div class="col-1 border-light-gray p-1">
      <div class="input-group input-group-sm">
        <label class="fs-xs font-weight-light text-secondary pr-1">qty:</label>
        <%= f.number_field :qty, placeholder: "qty", class: "form-control border-gray-b field-param" %>
      </div>
    </div>
  </div>
<% end %>
