<div class="row justify-content-center">
  <h1 id="sku">
    Sku: <span id="sku-header"><%= @item.sku %></span><span id="item-product"></span>
  </h1>
</div>

<div class="row justify-content-center">
  <h4><span><%= @item.invoice.supplier.supplier_name %></span> inv: <span><%= @item.invoice.invoice_number %></span></h4>
</div>
<hr>

<div class="row justify-content-center">
  <div class="col-4">
    <div class="card border border-secondary px-3 py-2 mb-2">
      <%= render "items/artist" %>
    </div>

    <div class="card border border-secondary mb-2" id="search-card">
      <%= render "items/search_card", products: @products, input_group: @input_group %>
    </div>
  </div>

  <div class="col-8">
    <%#= render "items/product", item: @item %>

    <div id="show-card">
      <%= render "items/edit", invoice: @item.invoice, item: @item, product: @product, artist: @artist %>
    </div>
  </div>
</div>
