<div class="row justify-content-center">
  <h1 id="sku">
    Sku: <span id="sku-header"><%= @item.sku %></span><span id="item-product"></span>
  </h1>
</div>

<div class="row justify-content-center">
  <h4>
    <!-- <a href="<%#= supplier_path(@item.invoice.supplier) %>" class="btn btn-link" type="button"> -->
    <a href="<%= suppliers_path %>" class="btn btn-link" type="button">
      <%= @item.invoice.supplier.supplier_name %>
    </a>
    <a href="<%= invoice_path(@item.invoice) %>" class="btn btn-link" type="button">
      <%= @item.invoice.invoice_number %>
    </a>
  </h4>

</div>
<hr>

<div class="row justify-content-center">
  <div class="col-4">
    <div class="card border border-secondary px-3 py-2 mb-2">
      <%= render "items/artist" %>
    </div>

    <div class="card border border-secondary mb-2" id="search-card">
      <%= render "items/search_card", products: @products, input_group: @input_group %>
    </div>
  </div>

  <div class="col-8">
    <div id="show-card">
      <%= render "items/edit", invoice: @item.invoice, item: @item, product: @product, artist: @artist %>
    </div>
  </div>
</div>
