<div class="row justify-content-center">
  <h1 id="sku">
    Sku: <span id="sku-header"><%= @item.sku %></span><span id="item-product"></span>
  </h1>
</div>

<div class="row justify-content-center">
  <h4>
    <a href="<%= suppliers_path %>" class="btn btn-link" type="button">
      <%= @item.invoice.supplier.supplier_name %>
    </a>
    <a href="<%= invoice_path(@item.invoice) %>" class="btn btn-link" type="button">
      <%= @item.invoice.invoice_number %>
    </a>
  </h4>

</div>
<hr>

<h4>Description</h4>
<div class="row">
  <div class="col-12">
    <div class="card p-1 mb-2 border-0">
      <div><span class="font-weight-bold">Tagline: </span><span id="tagline"><%= @item.hattr('csv_tags', 'tagline') %></span></div>
    </div>
    <div class="card p-1 mb-2 border-0">
      <div><span class="font-weight-bold">Body: </span><span id="description"><%= @item.hattr('csv_tags', 'description') %></span></div>
    </div>
  </div>
</div>

<hr>
<h4>Product Search</h4>

<div class="row">
  <div class="col-12">
    <div class="card p-1 mb-2 border-0 bg-light">
      <%= render "item_products/forms/search", item: @item, inputs: @inputs, products: @products %>
    </div>
  </div>
</div>

<hr>
<h4>Item</h4>

<div class="row">
  <div class="col-12">
    <div class="card p-1 mb-2 border-0 bg-light">
      <%= render "items/form", invoice: @item.invoice, item: @item %>
    </div>
    <%#= render "item_fields/edit", item: @item, rows: @rows %>
  </div>
</div>

<!-- <div class="row"> -->
  <!-- <div class="col-12">  -->
    <%= render "item_fields/edit", item: @item, rows: @rows %>
  <!-- </div> -->
<!-- </div> -->
