<div class="card border border-dark" id="<%= dom_ref(product_item, :show) %>">
  <div class="card-header py-0" id="<%= dom_ref(product_item, :header) %>">
    <div class="row align-items-center bg-light">

      <div class="col-11 mt-3 pr-0">
        <%= render 'product_items/edit', product_item: product_item, url: product_item_path(product_item) %>
      </div>

      <div class="col-1">
        <%= render "product_items/field_toggle", product_item: product_item, delete_url: product_item_path(product_item, method: "delete") %>
      </div>

    </div>
  </div>

  <div class="card-body p-1" id="<%= dom_ref(product_item, :body) %>">
    <div id='<%= dom_ref(product_item, :index) %>'>
      <%= render "product_items/index", origin: product_item %>
    </div>
  </div>
</div>
