<h1>Products#index</h1>
<% if @products.empty? %>
  <p><strong>No Products</strong></p>
<% end %>

<h2>Export Products</h2>
<p>
  Download:
  <%= link_to "CSV", products_path(format: "csv") %> |
</p>

<h2>Import Products</h2>
<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table class="table">
  <thead>
    <th>ID</th>
    <th>ProductsName</th>
    <th>tags</th>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.product_name %></td>
        <td><%= product.assocs %></td>
      </tr>
    <% end %>
  </tbody>
</table>
