<div class="card-body pt-1 pb-1 pl-0 pr-0 bg-gray-d border border-white border-top-0 rounded-bottom default-collapse collapse" id="<%=dom_ref('new-item-skus-body', item) %>" data-parent="<%=dom_ref('#new-item-skus', item)%>">

  <div class="form-row pt-2 pb-2 pr-2">
    <div class="col-4 ml-0">
      <div class="input-group input-group-sm" data-obj="artistInput, .artist, itemForm, <%=dom_ref('#new-item-skus', item)%>">
        <%= render "item_fields/caret", card_id: 'artist', target: nil, body: true, i: 0, context: 'body' %>
        <%= render "item_fields/label", label: 'artist' %>
        <%= f.collection_select :artist_id, Artist.sorted, :id, :artist_name, {include_blank: true, selected: (item.artist.try(:id) || nil)}, class: boot_classes(:input, 'item', 'artist'), id: dom_ref('new-item-skus-artist', item) %>
      </div>
    </div>

    <div class="col-4 ml-0">
      <div class="input-group input-group-sm" data-input=".title-text" data-target=".title-toggle">
        <%= render 'items/title_toggle' %>
        <%= render 'items/title', titles: [] %>
        <%= f.text_field :title, value: (item.title || ''), class: boot_classes(:input, 'show', 'title', 'title-toggle', 'title-text'), id: 'title-text' %>
      </div>
    </div>

    <div class="col-2 ml-0">
      <div class="input-group input-group-sm">
        <%= render "item_fields/label", label: 'retail' %>
        <%= f.number_field :retail, value: (item.retail || nil), class: boot_classes(:input) %>
      </div>
    </div>

    <div class="col-2">
      <div class="input-group input-group-sm">
        <%= render "item_fields/label", label: 'qty' %>
        <%= f.number_field :qty, value: 1, class: boot_classes(:input) %>
      </div>
    </div>
  </div>

  <%= render "batch_items/form_row", f: f, item: item, rows: rows %>
</div>
