<%= form_with model: Item.new, url: invoice_batch_items_path(invoice), id: "new-item-skus" do |f| %>
  <div class="form">

    <div class="card bg-gray-d p-0 mb-1" data-target=".card-body">
      <%= number_field_tag "item_id", nil, class: "collapse required", id: "item_id" %>

      <div class="card-header bg-transparent pt-0 pb-1 pl-0 pr-0">
        <div class="form-row mb-1">

          <div class="col-4 pt-2">
            <div class="input-group input-group-sm">
              <%= render "item_fields/caret", card_id: 'skus', body: true, i: 0, context: 'header' %>
              <%= render "item_fields/label", label: 'skus' %>
              <%= f.text_field :skus, placeholder: "enter sku range", class: boot_classes(:input, 'required') %>
            </div>
          </div>

          <div class="col-md-1 offset-md-7 pt-2">
            <button class="<%= boot_classes(:submit, 'badge-primary') %>" type="submit" disabled>create</button>
          </div>
        </div>
      </div>

      <div class="card-body pt-1 pb-1 pl-0 pr-0 bg-gray-d border border-white border-top-0 rounded-bottom default-collapse collapse">

        <div class="form-row pt-2 pb-2 pr-2">
          <div class="col-4 ml-0">
            <div class="input-group input-group-sm">
              <%= render "item_fields/caret", card_id: 'artist', body: true, i: 0, context: 'body' %>
              <%= render "item_fields/label", label: 'artist' %>
              <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, {include_blank: true}, class: boot_classes(:input, 'artist_id'), id: "artist_id" %>
            </div>
          </div>

          <div class="col-4 ml-0">
            <div class="input-group input-group-sm">
              <%= render 'items/title_toggle' %>
              <%= render 'items/title', titles: [] %>
              <%= f.text_field :title, class: boot_classes(:input, 'default-show', 'show', 'title-toggle'), id: 'title-text' %>
            </div>
          </div>

          <div class="col-2 ml-0">
            <div class="input-group input-group-sm">
              <%= render "item_fields/label", label: 'retail' %>
              <%= f.number_field :retail, class: boot_classes(:input) %>
            </div>
          </div>

          <div class="col-2">
            <div class="input-group input-group-sm">
              <%= render "item_fields/label", label: 'qty' %>
              <%= f.number_field :qty, class: boot_classes(:input) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
