<%= form_with model: Item.new, url: search_invoice_batch_items_path(invoice), method: :get, id: "search-item-skus" do |f| %>
  <div class="form">
    <div class="card bg-gray-d p-1 mb-1">

      <div class="form-row mt-1 hattrs">
        <% rejected_inputs(inputs['hattrs'], 'measurements', 'edition').each do |input| %>
          <div class="col-3 ml-0">
            <div class="input-group input-group-sm">
              <%= render 'item_products/forms/search_group', scope: 'hattrs', input_name: input['input_name'], opts: input['opts'], selected: input['selected'] %>
            </div>
          </div>
        <% end %>
      </div>
      <hr class="form-row my-2">

      <div class="form-row">
        <div class="col-6 ml-0">
          <div class="input-group input-group-sm" data-obj="searchForm, #search-item-skus, titleForm, #new-title, artistInput, .artist, itemForm, #new-item-skus, titleInput, .title, context_input, .context">
            <%= render 'item_products/forms/search_label', input_name: 'artist' %>
            <%= render 'item_products/forms/reset_search', class_param: 'artist-unselect' %>
            <%= select "items", "artist_id", inputs['artist']['opts'].map{|a| [a.artist_name, a.id]}, {include_blank: true, selected: inputs['artist']['selected']}, {id: "artist-search-item-skus", class: boot_classes(:search_input, 'search', 'artist')} %>
          </div>
        </div>

        <div class="col-6 ml-0 hattrs">
          <div class="input-group input-group-sm">
            <%= render 'item_products/forms/search_label', input_name: 'title' %>
            <%= render 'item_products/forms/reset_search', class_param: 'unselect' %>
            <%= select "items", "title", inputs['title']['opts'], {include_blank: true, selected: inputs['title']['selected']}, {class: boot_classes(:search_input, 'title', 'title-select')} %>
          </div>
        </div>
      </div>
      <hr class="form-row my-2">

      <div class="form-row mb-1">
        <div class="col-6 ml-0">
          <!-- <div class="input-group input-group-sm" data-form="#new-title" data-input=".artist" data-context="#new-item-skus"> -->
          <div class="input-group input-group-sm" data-obj="searchForm, #search-item-skus, productInput, .product, itemForm, #new-item-skus">
            <%= render 'item_products/forms/search_label', input_name: 'product' %>
            <%= render 'item_products/forms/reset_search', class_param: 'unselect' %>
            <%= select "items", "product_id", inputs['product']['opts'].map{|a| [a.product_name, a.id]}, {include_blank: true, selected: inputs['product']['selected']}, {class: boot_classes(:search_input, 'new-item-select-product', 'search-select', 'product', 'product-select')} %>
          </div>
        </div>

        <% included_inputs(inputs['hattrs'], 'measurements', 'edition').each do |input| %>
          <div class="col-3 ml-0">
            <div class="input-group input-group-sm">
              <%= render 'item_products/forms/search_group', scope: 'hattrs', input_name: input['input_name'], opts: input['opts'], selected: input['selected'] %>
            </div>
          </div>
        <% end %>

    </div>
  </div>
<% end %>
