<!DOCTYPE html>
<html>
  <head>
    <title>Q4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <nav class="fixed-top navbar navbar-expand" id="nav-bar">
        <a href="<%= suppliers_path %>" class="nav-link text-white">
          Suppliers
        </a>
        <a href="<%= invoices_path %>" class="nav-link text-white">
          Invoices
        </a>
        <a href="<%= artists_path %>" class="nav-link text-white">
          Artists
        </a>
        <a href="<%= products_path %>" class="nav-link text-white">
          Products
        </a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
